{% extends "layout/basic.html" %}
{% load thumbnail %}

{% block title %} Профиль пользователя {% endblock %}

{% block content %}

{% if latest_question_list %}
    <h2>Опросы:</h2>
    <div class="qustion-holder">
        {% for question in latest_question_list %}
        <div class="question">
            <a class="question-in" href="{% url 'polls:detail' question.id %}">
                <h3>{{question.question_header}}</h3>
                {% if question.image %}
                <img class="question-img" src="{% thumbnail question.image 'scale_medium' %}">
                {% endif %}
                <p>{{question.question_text}}</p>
            </a>
            <a class="question-delete" href="www.example.com">Удалить</a>
        </div>
        
        {% endfor %}
    </div>
    
{% else %}
    <p>Нет опросов!</p>
{% endif %}

{% endblock %}